/*index.css*/
@import "tailwindcss";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: white;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  * {
     color: black;
  }

  header {
    background-color: #d16b18;
  }
  
  a {
    font-weight: 500;
    color: black;
    text-decoration: inherit;
  }
  
  a:hover {
    color: gray;
  }

  .container {
    margin: 0 auto !important;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-saved-recipe {
    margin: 0 auto !important;
    width: 90%;
    padding: 24px;
  }

  body {
    margin: 0;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid black;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  button:hover {
    border-color: gray;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  footer {
    background-color: #696464;
    z-index: 10;
}
  .profile-footer {
    text-align: center;
    position: fixed;
    inset: auto 0 0 0;
    padding: 1em;
  }


.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }

  @keyframes bounce1 {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
  
  @keyframes bounce2 {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-25px); }
  }
  
  @keyframes bounce3 {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-30px); }
  }
  
  /* Apply animations */
  .animate-bounce-1 {
    animation: bounce1 4s infinite;
  }
  
  .animate-bounce-2 {
    animation: bounce2 6s infinite;
  }
  
  .animate-bounce-3 {
    animation: bounce3 5s infinite;
  }



  #logoImg { 
    height: 150px;
    width: 150px;
    margin-left: 0px;
  }
  
  @media (min-width: 768px) {
    #h1-Title {
      width: auto; 
      text-align: left; 
      margin-bottom: 0; 
    }
  }




  #recipe-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    justify-content: center; 
    width: 100%;
  }

  #recipe-categories-wrapper {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    width: 100%;
  }

  #recipe-categories-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .category-card {
    flex: 1 1 200px;
    max-width: 250px;
    text-align: center;
    margin-bottom: 1rem;
    margin: 0 auto;
  }
  


  #home-section {
    margin: 0 auto; 
    width: 90%;
    max-width: 100%; 
    box-sizing: border-box; 
}


@font-face {
  font-family: 'CustomFont'; 
  src: url('./assets/customfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
